DATABASE_URL=

PREFERENCE_SCORE_EMA_ALPHA=
PREFERENCE_SCORE_PRIOR_WEIGHT=
SCORE_DELTA_AUTO_REJECTED=
SCORE_DELTA_REGENERATION_REQUESTED=
PREFERENCE_SCORE_MIN=
PREFERENCE_SCORE_MAX=
PREFERENCE_SCORE_DECIMAL_PLACES=
PREFERENCE_SCORE_ZERO_EPSILON=
INITIAL_STYLE_BONUS_SCORE=

PREFERRED_TOP_RATIO=
DISLIKE_BOTTOM_RATIO=
DISLIKE_MIN_FEEDBACK_COUNT=

EXPLORATION_UCB_COEFFICIENT=

OUTER_REQUIRED_FEELS_LIKE_TEMPERATURE=
SUMMER_AVG_TEMPERATURE_THRESHOLD=

MAX_RETRY_PER_VALIDATION_STAGE=